.orgSection{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orgSection img{
    position: absolute;
    right: 30%;
    cursor: pointer;
}

.tittle{
    color: #6278F7;
    font-size: 40px;
    font-weight: 400;
    padding-bottom: 24px;
    border-bottom: 4px solid #6278F7;
}

@media screen and (max-width: 1400px) {
    .orgSection img{
        position: static;
        display: block;
        flex-direction: column;
    }
}

@media screen and (max-width: 550px){
    .orgSection{
        display: flex;
        flex-direction: column;
    }
    
    .orgSection img{
        position: initial;
    }
} 